<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div>
    <h1>Lista de Tarefas</h1>
    <ul>
      <li *ngFor="let tarefa of tarefas" [ngStyle]="{'text-decoration': tarefa.concluida ? 'line-through' : 'none'}">
        {{ tarefa.descricao }}
        <button (click)="alternarConclusao(tarefa)">
          {{ tarefa.concluida ? 'Desfazer' : 'Concluir' }}
        </button>
      </li>
    </ul>
  </div>
</body>
</html>

<router-outlet></router-outlet>
